#stopwatch {
	text-align: center;
}

button {
	font-size: 35px;
}
#message {
	font-family: Courier, monospace;
     text-align: center;
     color: green;
     padding: 5px;
}

/* #timer {	
	margin-bottom:0px;
	margin-top: 0px;
} */

div#timer {
	font-size: 140px;
	/* font-weight: bold; */
    text-align: center;
    /* color: green; */
}


/* div#timerl.start, .stop, .end, .wait, .easy, .run */

.start, .init {
    color: blue;

}
.stop {
	color:red;
}

.easy {
	color: green;
}

.active {
    color: green;
    font-style: italic; 

}

.wait {
	font-style: italic; 
}

.run {
	color: blue;
	background-color: light-blue;
}


#inittime {
	font-family: Courier, monospace;	
	font-size: 20px;
 	text-align: center;	
}
