#stopwatch {
	text-align: center;
}


button {
	font-size: 35px;
}
#message {
	font-family: Courier, monospace;
     text-align: center;
     color: green;
     padding: 5px;
}

/* #timer {	
	margin-bottom:0px;
	margin-top: 0px;
} */

div#timer {
	font-size: 140px;
	/* font-weight: bold; */
    text-align: center;
    /* color: green; */
}

.coins {
    padding: 15px;
}
.coin {
    background-color: orange;
    opacity: 0.6;
    color: black;
    border-radius: 50%;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    border-color:  black;
    width: 70px;
    min-height: 70px;
    max-height: 70px;
 
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}


/* https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md */

.link-button {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 10px;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: none;
  }

 /* preferences */
#preferences {
    /* display: flex;
    justify-content: center; */
    /* position: relative; */
    /* left: 100px; */
    color: goldenrod;
    /* text-align: left; */

}

/* #preferences input {
    color: red;
} */

#configuration {
    /* justify-content: left; */
    /* position: relative; */
    /* top: 30px; */
    /* left: 40px; */
}

.config {
    /* display: flex; */
    /* justify-content: sleft; */
    left: 10px;
}
.hideconfiguration {
    display: none; 
}


#inittime {
	font-family: Courier, monospace;	
	font-size: 100%;
 	text-align: center;	
}


/* label {
    display: inline-block;
    width: 140px;
    text-align: right;} */

    /* label { float: right; width: 10em; margin-right: 1em; } */

    
.start, .init {
    color: blue;

}
.stop {
	color:red;
}

.easy {
	color: green;
}

.active {
    color: green;
    font-style: italic; 

}

.wait {
	font-style: italic; 
}

.run {
	color: blue;
	background-color: light-blue;
}


